.App { min-height: 100vh; background-color: hsl(var(--background)); }
button { background: none; border: none; cursor: pointer; outline: none; user-select: none; }
input, textarea { font-size: 16px !important; }